---
// import { Octokit } from "@octokit/core";

// const token = import.meta.env.GITHUB_API;

// const octokit = new Octokit({ auth: token });

// const { data } = await octokit.request("GET /search/issues", {
//   q: "is:pr author:ralacerda archived:false is:merged is:public -user:ralacerda ",
// });
---

<!-- 
{
  data.items.map((item) => (
    <div>
      {item.html_url}, {item.id}, {item.title}, {item.created_at},{" "}
      {item.closed_at}
      {item.number}, {item.repository_url}
    </div>
  ))
} -->
