---
import { Image } from 'astro:assets';

import TechIcon from '@/components/TechIcon.astro';

interface Props {
  project: Project;
  index: number;
}

const { project, index } = Astro.props;
---

<div class="project" data-show={index > 2 ? 'false' : 'true'}>
  <div class="project__flex">
    <div class="project__text">
      <h3 class="project__title">{project.title}</h3>
      <a href={project.link} target="_blank" class="project__link"
        >{project.link}</a
      >
      <div class="project__description" set:html={project.shortContent} />
      <a href={project.repoLink} target="_blank">Repositorio del Proyecto</a>
      <ul class="project__icons" role="list">
        {
          project.tech.map((icon) => {
            return (
              <li data-tooltip={icon}>
                <TechIcon name={icon} />
              </li>
            );
          })
        }
      </ul>
    </div>
    <div class="project__screenshot-background">
      <a href={project.link} target="_blank">
        {
          project.images.map((image) => (
            <Image
              class="project__screenshot"
              src={image}
              alt={`Imagen del proyecto ${project.title}`}
              width={600}
              height={400}
              format="webp"
              loading="lazy"
            />
          ))
        }
      </a>
    </div>
  </div>
</div>

<style lang="scss">
  .project + .project {
    margin-top: var(--space-xl-2xl);
  }

  .project__flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: var(--space-m);
    column-gap: var(--space-l);
  }

  .project__description {
    padding-block: var(--space-s);
  }

  .project__title {
    font-size: var(--step-2);
  }

  .project__icons {
    display: flex;
    column-gap: var(--space-m);
    font-size: var(--step-3);
    color: var(--gray);
    opacity: 0.6;
    margin-top: var(--space-m);
  }

  .project__link {
    display: inline-block;
    margin-top: 0.2rem;
  }

  .project__text {
    flex: 1 1 400px;
    // max-width: 70ch;
  }

  .project__screenshot {
    height: auto;
    transition:
      box-shadow 200ms,
      transform 200ms;
    border-radius: 3px;
    background-color: var(--bg-secondary);

    @include shadow;

    &:hover {
      transform: translate(-0.5rem, -0.5rem);
    }
  }

  .project__screenshot-background {
    border-radius: 4px;
    background-color: var(--danger);
  }
</style>
