---
import AngularIcon from './icons/Angular.astro';
import DotNetIcon from './icons/DotNet.astro';
import GitHub from './icons/GitHub.astro';
import Link from './icons/Link.astro';
import NextJS from './icons/NextJS.astro';
import NodeJsIcon from './icons/NodeJs.astro';
import ReactIcon from './icons/React.astro';
import SqlServerIcon from './icons/SqlServer.astro';
import SupabaseIcon from './icons/Supabase.astro';
import Tailwind from './icons/Tailwind.astro';
import LinkButton from './LinkButton.astro';

import { defaultLang, type Lang } from '@/i18n/ui';
import { useTranslations } from '@/i18n/utils';

const currentLang = (Astro.currentLocale || defaultLang) as Lang;
const t = useTranslations(currentLang);

const TAGS = {
  NEXT: {
    name: 'Next.js',
    class: 'bg-black text-white',
    icon: NextJS,
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-[#003159] text-white',
    icon: Tailwind,
  },
  NODEJS: {
    name: 'Node.js',
    class: 'bg-[#8CC84B] text-white',
    icon: NodeJsIcon,
  },
  REACT: {
    name: 'React',
    class: 'bg-[#282c34] text-white',
    icon: ReactIcon,
  },
  ANGULAR: {
    name: 'Angular',
    class: 'bg-[#DD0031] text-white',
    icon: AngularIcon,
  },
  SUPABASE: {
    name: 'Supabase',
    class: 'bg-[#2D2E32] text-white',
    icon: SupabaseIcon,
  },
  '.NET': {
    name: '.NET',
    class: 'bg-[#512BD4] text-white',
    icon: DotNetIcon,
  },
  'SQL SERVER': {
    name: 'SQL Server',
    class: 'bg-[#CC2927] text-white',
    icon: SqlServerIcon,
  },
};

const PROJECTS = [
  {
    title: t('projects.1.title'),
    description: t('projects.1.description'),
    link: 'https://alaia-max.vercel.app',
    image: '/projects/project-alaia-max.jpg',
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.NODEJS, TAGS.SUPABASE],
  },
  {
    title: t('projects.2.title'),
    description: t('projects.2.description'),
    link: 'https://voxnet-ws.netlify.app',
    github: 'https://github.com/eideard-hm/custom-project-ws',
    image: '/projects/project-ws-app.webp',
    tags: [TAGS.REACT, TAGS.NODEJS, TAGS.NEXT],
  },
  {
    title: t('projects.3.title'),
    description: t('projects.3.description'),
    github: 'https://github.com/eideard-hm/PonteLab',
    image: '/projects/project-pontelab2.webp',
    tags: [TAGS.ANGULAR, TAGS.TAILWIND],
  },
  {
    title: t('projects.4.title'),
    description: t('projects.4.description'),
    github: 'https://github.com/eideard-hm/dotnet-graphQL-clean-architecture',
    image: '/projects/project-graphql-clean-arch.webp',
    tags: [TAGS['.NET'], TAGS['SQL SERVER']],
  },
];
---

<div class='flex flex-col gap-y-16'>
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class='flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0'>
        <div class='w-full md:w-1/2'>
          <div class='relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50'>
            <img
              alt={title}
              class='object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105'
              loading='lazy'
              src={image}
            />
          </div>
        </div>

        <div class='w-full md:w-1/2 md:max-w-lg'>
          <h3 class='text-2xl font-bold text-secondary'>{title}</h3>
          <div class='flex flex-wrap mt-2'>
            <ul class='flex flex-row mb-2 gap-x-2'>
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class='size-4' />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class='mt-2 text-gray-700 dark:text-gray-400'>
              {description}
            </div>
            <footer class='flex items-end justify-start mt-4 gap-x-4'>
              {github && (
                <LinkButton href={github}>
                  <GitHub class='size-6' />
                  {t('projects.code')}
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class='size-4' />
                  {t('projects.preview')}
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
