---
const logoTwitter = (await import("~icons/simple-icons/twitter?raw")).default;
const logoLinkedin = (await import("~icons/simple-icons/linkedin?raw")).default;
const logoMastodon = (await import("~icons/simple-icons/mastodon?raw")).default;
const logoGitHub = (await import("~icons/simple-icons/github?raw")).default;
const logoCodePen = (await import("~icons/simple-icons/codepen?raw")).default;
---

<div class="social">
  <ul role="list">
    <li>
      <a href="https://www.linkedin.com/in/renato-ac-lacerda/" target="_blank"
        ><Fragment set:html={logoLinkedin} />Linkedin</a
      >
    </li>
    <li>
      <a href="https://github.com/ralacerda" target="_blank"
        ><Fragment set:html={logoGitHub} />GitHub</a
      >
    </li>
    <li>
      <a href="https://codepen.io/ralacerda" target="_blank"
        ><Fragment set:html={logoCodePen} />CodePen</a
      >
    </li>
    <li>
      <a href="https://hachyderm.io/@renato" target="_blank"
        ><Fragment set:html={logoMastodon} />Mastodon</a
      >
    </li>
    <li>
      <a href="https://twitter.com/renatoaclacerda" target="_blank"
        ><Fragment set:html={logoTwitter} />Twitter</a
      >
    </li>
  </ul>
</div>

<style lang="scss">
  .social {
    flex: 1 1 180px;
    margin-top: 0.2rem;
  }

  .social a {
    color: var(--gray);
    display: flex;
    align-items: center;
    gap: var(--space-s);
    width: fit-content;
    position: relative;
    padding: var(--space-s);
    font-size: var(--step-1);
    font-weight: 600;

    text-decoration: none;

    &:hover {
      color: var(--danger);

      &::before {
        background-color: var(--danger);
        transform: scaleX(300%);
        transition: transform 150ms, color 100ms;
      }
    }

    &::before {
      transition: transform 100ms, color 100ms;
      transform-origin: left;

      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 0.2rem;
      height: 100%;
      background-color: var(--gray);
    }
  }
</style>
