---
import { ClientRouter } from 'astro:transitions';

import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

import { defaultLang } from '@/i18n/ui';

import '@fontsource-variable/inter';

const { description, title } = Astro.props;
const currentLang = Astro.currentLocale || defaultLang;

interface Props {
  title: string;
  description: string;
}
---

<!doctype html>
<html lang={currentLang}>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content={description}
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='shortcut icon'
      href='https://edier-hm.netlify.app/favicon.ico'
      type='image/x-icon'
    />
    <link
      rel='canonical'
      href={`https://edier-hm.netlify.app/${currentLang}/`}
    />
    <meta
      property='og:url'
      content={`https://edier-hm.netlify.app/${currentLang}/`}
    />
    <meta
      property='og:image'
      content={`https://edier-hm.netlify.app/portfolio-${currentLang}.jpg`}
    />
    <link
      rel='alternate'
      hreflang='es'
      href='https://edier-hm.netlify.app/es'
    />
    <link
      rel='alternate'
      hreflang='en'
      href='https://edier-hm.netlify.app/en'
    />
    <title>{title}</title>

    <ClientRouter />
  </head>

  <body class='relative text-black dark:text-white'>
    <div
      class='absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-gray-950
      bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
      dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]'
    >
    </div>

    <Header />
    <slot />
    <Footer />
    <style is:global>
      :root {
        color-scheme: light dark;
        --font-family: 'Inter Variable', system-ui, sans-serif;
      }

      html {
        font-family: var(--font-family);
        scroll-behavior: smooth;
      }

      body {
        color: rgba(17, 17, 17, 0.9);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      @media (prefers-color-scheme: dark) {
        body {
          color: rgba(255, 255, 255, 0.9);
        }
      }

      #header-nav {
        animation: blur linear both 0.5s;
        animation-timeline: scroll();
        animation-range: 0 500px;
      }

      @keyframes blur {
        to {
          backdrop-filter: blur(20px);
          border-width: 1px;
          border-color: rgba(0, 0, 0);
          padding: 0.25rem 0.75rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: rgb(229, 229, 229);
          border-radius: 9999px;
        }
      }

      @media (prefers-color-scheme: dark) {
        @keyframes blur {
          from {
            border: 0px;
          }
          to {
            box-shadow:
              0px 5px 50px -5px rgba(0, 0, 0, 0.1),
              0px 0px 0 1px rgba(0, 0, 0, 0.3);
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(20px);
            border-width: 1px;
            border-color: rgba(0, 0, 0);
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 9999px;
          }
        }
      }
    </style>
  </body>
</html>
